   
<<<<<<< HEAD
    .card{
=======
      .card-item, .card-cash{
       height:442.45px;
      }
      .market-card{
          border:1px solid orange;
          height:320px;
      }
>>>>>>> 5ee521180f26cd5a1b7e9c8b021b479ad5ff1dad
        .card-img-top{
            height:140px;           
            z-index:300 !important;
            cursor:pointer;
        }
        .card-title{
            &:hover{
                cursor:pointer;
            }
        }
        .contributed-progress-view{
         height:17px;
        }
        .donated-ws{
            justify-content:space-between;
<<<<<<< HEAD
        }
        // .fund-category{
        //     width:80% !important;
        // }
      
=======
        }    
>>>>>>> 5ee521180f26cd5a1b7e9c8b021b479ad5ff1dad
        .truncate{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
<<<<<<< HEAD
    }
     

    #share-modal{
        z-index:2300 !important
    }

=======
    
     
    #share-modal{
        z-index:2300 !important
    }
>>>>>>> 5ee521180f26cd5a1b7e9c8b021b479ad5ff1dad
    .ai-outline{
        font-size:21px;
        cursor:pointer;
    }
