.link-router{
    text-decoration: none;
    color:$logo_green;
    &:hover{
       text-decoration: none;
       color:$logo_orange;
    }
 }
.link-router-inverted{
    text-decoration: none;
    color:#fff;
    // background-color:$logo_orange;
    &:hover{
       text-decoration: none;
       color:#fff;
      //  background-color:$logo_green;
    }
 }
 .link-router-btn{
    text-decoration: none;
    color:$white;
    &:hover{
       text-decoration: none;
       color:$white;
    }
 }
 .slider-link{
    text-decoration: none;
    color: $white;
    &:hover{
      text-decoration: none;
      color:$white;
   }
 }
 .main-link{
   text-decoration: none;
   color: $white;
   &:hover{
     text-decoration: none;
     color:$white;
  }
 }