.profile-form-container{
    width:100%;
    margin-right:auto;
    margin-left: auto;
    max-width:750px;
    box-shadow: rgba(78, 38, 38, 0.35)  0 5px 15px 0px;
    background-color: #fff;
    height:400px;
    .profile-reg-heading{
        background-color: $logo_green;
    }
    .edit-profile-fields{
        margin:0 auto;
        max-width:650px;
    }
    .profile-reg-fields {
        width:100%; 
        .field-inputs{
            width:100%;
        }
    }
}



