.counter-section{
    background-color:#05591B;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
   
     @media screen and (max-width:767px){
        height:320px;     
    }
    .counter-fluid{
        padding: 0 100px 0 100px;
        @media screen and (max-width:767px){
            margin:0 !important;
            padding:0 !important;
        }
        .counter-row{
            margin:0 auto;
            padding: 0 50px 0 100px;
            @media screen and (max-width:903px){
               padding:0px 0 40px;
            }
            @media screen and (max-width:570px){
               padding-left:10rem;
            }
            @media screen and (max-width:443px){
                padding-left:6.5rem;
             }
             @media screen and (max-width:352px){
                padding-left:5rem;
             }
           .member-num-block{
               .num_members{
                   font-weight:600;
                   color:#fff !important;
                 }
                 .members{
                     margin-top:-19px;
                     color:#fff !important;
                 }
           } 
           .receive-money-icon, .ann-icon, .users-icon{
               color:#fff !important;
           }
        }
       }
    }
  

//    @media screen and (max-width:950px){
//     .counter-section{
//         height:300px;
//     }
// }
// @media screen and (max-width:576px){
//     .counter-section{
//         border:1px solid purple;
//         display:flex;
//         flex-direction:column;
//         justify-content:center;
//         align-items:center
//     }
// }

// @media screen and (max-width:767px){
//     .counter-row{
//         border:1px solid purple;
//         width:100%;
//     }
//     .counter-col-form{
//         border:1px solid red;
//     }
// }