.auth-container {
    border-radius: 10px;
    box-shadow: rgba(78, 38, 38, 0.35)  0 5px 15px 0px;
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 650px;
    margin: 60px auto;
    @media screen and (max-width:639px){
      height: 1000px;
    }
    #lay-hidden{
      display:none;
      @media screen and (max-width:639px){
       display:flex;
       justify-content: center;
       flex-direction: column;
       background: #2e7d32;
       background: -webkit-linear-gradient(to right, #1b5e20, #2e7d32);
       background: linear-gradient(to right, #1b5e20, #2e7d32);
       background-repeat: no-repeat;
       background-size: cover;
       border:1px solid green;
       background-position: 0 0;
       color: #ffffff;
       width:110%;
       padding:20px
      }
    }
    .form-authentication-container {
      position: absolute;
      top: 0;
      height: 100%;
      width:100%;
      transition: all 0.6s ease-in-out;
      .create-account, .login-details {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // padding: 0 30px;
        height: 100%;
        text-align: center;
        .social-container {
          // margin: 20px 0;
          .social {
            border: 1px solid #dddddd;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            // margin: 0 5px;
            height: 40px;
            width: 40px;
          }
          soc-span {
            font-size: 13px;
          }
        }
       
      }
    }
    .input {
      border: 1px solid #808080;
      outline:none;
      padding: 12px 15px;
      margin: 8px;
      width:100%;
      border-radius: 4px;
      &:focus{
        border: 1px solid #29752e;
      }
    } 
    .sign-in-container {
      width: 50%;
      z-index: 2;
      .forgot-password{
        color:#2C7A30;
        &:hover{
          text-decoration: none;
          opacity:.9;
        }
      }
      @media screen and (max-width:639px) {
        width:100%;
        margin-top:10px;
      }
    }
    .sign-up-container {
      width: 50%;
      opacity: 0;
      z-index: 1;
      @media screen and (max-width:639px) {
        width:100%;
        position:relative;
        height:60%;
        top:50px;
        right:100%;
      }
      @media screen and (max-width:349px) {
        top:80px;
      }
    }
    .overlay-container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100;

      @media screen and (max-width:639px){
      width:100%;
      height:240px;
      left:0;
      }
      .overlay {
        background: #2e7d32;
        background: -webkit-linear-gradient(to right, #1b5e20, #2e7d32);
        background: linear-gradient(to right, #1b5e20, #2e7d32);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #ffffff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
          
        .overlay-panel {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 40px;
          text-align: center;
          top: 0;
          height: 100%;
          width: 50%;
          transform: translateX(0);
          transition: transform 0.6s ease-in-out;      
          .auth-p-text{
            font-size: 14px;
            font-weight: 100;
            line-height: 20px;
            letter-spacing: 0.5px;
            margin: 20px 0 30px;
          }
   
          .auth-signup-button, .auth-login-button {
            border-radius: 20px;
            border: 1px solid #e65100;
            background-color: #e65100;
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
            &:active {
              transform: scale(0.95);
            }
            &:focus {
              outline: none;
            }        
        }
        }
      }
    }
    #personalform {
      display: none;
    }
    #choose-signup {
      display: block;
    }
    #companyform {
      display: none;
    }
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  .auth-container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .auth-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .auth-container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  .auth-container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  .auth-container.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .auth-container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  // errorstyling
 
  
  // verify container
  .verify-container{
    margin: 80px 0px 40px 0px;
    height: 400px;
    max-height:100%;
    width:40% !important;
    box-shadow: rgba(78, 38, 38, 0.35)  0 5px 15px 0px;
    padding-top: 35px;
  }

  .form-eye-field{
    position:relative;
    .password-icon{
      position:absolute;
      top:17px;
      left:220px;
    }
  }

  .form-error-message{
    color:red;
    width: 100%;
  }
  
  
.form-control{
  outline:none !important;
  border:none;
  &:focus{
    outline:none !important;
  }
}